.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.9);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal-container{
    width: 35rem;
    height: 30rem;
    border-radius: 12px;
    background-color: #c9ecdb;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.modal-title{
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
}

.title-close-btn{
    display: flex;
    justify-content: flex-end;
}

.title-close-btn button{
    border: none;
    background-color: transparent;
    color: #000;
}

.modal-body{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
}

.modal-container .modal-footer{
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer button{

}

.modal-footer .btn-danger{
    background-color: #ff4433;
}